<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>dissertation</title>
    <link rel="stylesheet" href="/static/mvg/css/cv_home.css" />
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css"/>
</head>
<body>
    <!--引入导航栏html-->
    {% include 'ATOM/include/navbar_button_I.html' %}

    <p>专题</p>
    <!--引入导航栏脚本-->
    {% include 'ATOM/include/navbar_js_I.html' %}
</body>
</html>