{% extends "ATOM/TOOLS/tools_base.html" %}
{% block title %}Tools home{% endblock %}
{% block headAppend %}
<link rel="stylesheet" href="/static/tool/qrcode/qrcode.css">
{% endblock %}
{% block content %}
<div class="CL_mainDiv">
    <!-- 选择由什么生成 二维码-->
    <div class="CL_myTab floatLeft">
        <!--<textarea class="floatLeft" id="ID_textInput" placeholder="请输入文字信息"></textarea>-->
        <div class="wrap perspective">
            <input type="radio" name="tabs" id="tab-top" style="display: none">
            <input type="radio" name="tabs" id="tab-front" style="display: none">
            <input type="radio" name="tabs" id="tab-bottom" style="display: none">
            <div class="cube">
              <div class="cube1">
                  <div id="ID_cardCreateInputG"  >
                      <input type="text" placeholder="名字">
                      <input type="text" placeholder="First Name">
                      <input type="text" placeholder="机构/组织">


                  </div>
              </div>
              <div class="cube2">
                  <textarea id="ID_textCreateInput"></textarea>
                  <button id="ID_textCreateBtn" class="createButton">生成</button>
              </div>
              <div class="cube3">
              </div>
            </div>


        </div>
    </div><!-- CL_myTab -->
    <!-- 显示二维码 -->
    <div class="qrcodeBox floatLeft">
        <div  id="ID_test" class="CL_qrcodeShowBox">
            <div id="ID_qrcodeShow"></div>
            <!--<img id="ID_qrcodeShow">-->
        </div>
        <div id="ID_qrcodeOpt">
            <select id="ID_correctLevel">
                <option value="L">L 7%</option>
                <option value="M">M 15%</option>
                <option value="Q">Q 25%</option>
                <option value="H">H 30%</option>
            </select>

            <a id="ID_downloadImage_button" disabled="disabled" class="download_button CL_myButton" style="display: block;width: 60%;margin: 10px auto;" >
                <i class="fa fa-arrow-down" aria-hidden="true"></i> 下载图片
            </a>
        </div>
    </div><!--qrcodeBox-->
    <!-- 选择生成方式 -->
    <div class="CL_selectTab floatLeft " >
        <label for="tab-top" onclick="cilckCreateType(1)">号码</label>
        <label for="tab-front" >文本</label><!-- cube2 -->
        <label for="tab-bottom" >名片</label>
    </div>

</div><div style="clear:both;"></div>

{% endblock %}
{% block script %}
<script src="/static/js/qrcodejs/qrcode.js"></script>
<script src="/static/tool/qrcode/qrcode.js"></script>
{% endblock %}