{% extends "ATOM/TOOLS/tools_base.html" %}
{% block title %}Tools home{% endblock %}
{% block headAppend %}
<link rel="stylesheet" href="/static/tool/qrcode/qrcode.css">

{% endblock %}
{% block content %}
<div class="CL_mainDiv">
    <!-- 选择由什么生成 二维码-->
    <div class="CL_myTab floatLeft">
        <!--<textarea class="floatLeft" id="ID_textInput" placeholder="请输入文字信息"></textarea>-->
        <div class="wrap perspective">
            <div class="cube">
              <div class="cube1">

              </div>
              <div class="cube2">
                  <textarea></textarea>
                  <button class="createButton">生成</button>
              </div>
              <div class="cube3">

              </div>
            </div>
        </div>
    </div><!-- CL_myTab -->
    <!-- 显示二维码 -->
    <div class="qrcodeBox floatLeft">

    </div><!--qrcodeBox-->
    <!-- 选择生成方式 -->
    <div class="CL_selectTab floatLeft " >
        <button >网址</button>
        <button >文本</button><!-- cube2 -->
        <button >图片</button>
        <button >名片</button>
    </div>

</div><div style="clear:both;"></div>

{% endblock %}
{% block script %}
<script src="/static/tool/qrcode/qrcode.js"></script>
{% endblock %}