{% extends "ATOM/CV/BLOG/blog_base.html" %}
{% block headAppend %}
<!--<script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>-->
<style>
    p{
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    ul{
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
</style>
    <link rel="stylesheet" href="/static/highlight/styles/atelier-sulphurpool-dark.css">
    <script src="/static/highlight/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}
{% block title %}F Matrix{% endblock %}
{% block blogTitle %}奇异值分解(Singular Value Decomposition){% endblock %}
{% block blogDescription %}讲解奇异值分解的意义及使用场景{% endblock %}
{% block content %}


{% endblock %}