.CL_mainDiv{
    margin: 50px auto;
}

#ID_textInput{
    width: 400px;
    height: 200px;
    border: 2px #d36363 dashed;
}

.CL_selectTab{
    margin-left: 10px;
    margin-top: 10px;
}


.floatLeft{
        float: left;
    }

.floatBottom{
    float: bottom;
}
.floatRight{
    float: right;
}

.CL_selectTab label{
    /*float: left;*/
    margin-right: 10px;
    border: 2px #e67e22 dashed;
    background-color: #9b59b6;
    color: #ecf0f1;
    display: block;
}

.CL_selectTab label:hover{
    border: 2px #e67e22 solid;
    background-color: #e74c3c;

}

.createButton{
    display: block;
    margin: 10px auto;
    border-radius: 10%;
    width: 50px;
    height: 25px;
    background-color: #3c3836;
    color: #cdddeb;
}

.createButton:hover{
    background-color: #434f54;
}

.qrcodeBox{
    margin-top:10px;
    width: 200px;
    height: 300px;
    border: 2px #7596ff dashed;
}

.CL_qrcodeShowBox{
    border: 1px #f06060 dashed;
    width: 100%;
    height: 200px;
}

#ID_qrcodeShow{
    width: 100%;
    height: auto;
}

.wrap{
  width: 100%;
  height: 300px;
  /*background: #255;*/
  margin: 10px auto;
}

.cube{
  width: 500px;
  height: 300px;
  /*background: #123;*/
  margin: 0px auto;
  transform-style: preserve-3d;
  transform-origin: 0 150px 0px;
  /*transform-origin: 0 0 -150px;*/
  /*font-size: 40px;*/
  text-align: center;
  /*color: #fff;*/
  position:relative;
  /*transform : rotateY(20deg);*/
  -webkit-transition: -webkit-transform 0.5s ease-in;
  transition: -webkit-transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
  transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
}



.perspective {
  -webkit-perspective: 76em;
          perspective: 76em;
  /*-webkit-perspective-origin: 50% 50px;
          perspective-origin: 50% 50px;*/

}

/*top*/
.cube1{
  position:absolute;
  width: 100%;
  height: 100%;
  background: rgba(11,32,122,.5);
  transform :translateZ(-150px) translateY(-150px) rotateX(90deg);
  /*-webkit-transform-origin: top left;
          transform-origin: top left;*/

}

.cube2{
  position:absolute;
  width: 100%;
  height: 100%;
  background: rgba(12,32,12,.5);
  /*transform: translateZ(150px);*/
}

    /**/
.cube3{
  position:absolute;
  width: 100%;
  height: 100%;
  background: rgba(122,32,121,.5);
  transform : translateZ(-150px) translateY(150px) rotateX(-90deg);
  /*-webkit-transform-origin: bottom center;
          transform-origin: bottom center;*/
}

.cube2 textarea{
    width: 80%;
    height: 100px;
    color: #0C9A9A;
    margin: 10px auto;
    background: #3c3836;

}

#tab-top:checked ~ .cube {
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
}

#tab-front:checked ~ .cube {
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
}

#tab-bottom:checked ~ .cube {
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
}


/*.cube:hover{*/
    /*-webkit-transform: rotateX(-90deg);*/
          /*transform: rotateX(-90deg);*/
/*}*/
